{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock title %}

{% block content %}


    <h1 class="mt-4">Uitloggen</h1>
    <br>
    <h6>Weet je zeker dat je wilt uitloggen?</h6>
    <br>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="btn-group">
            <button class="btn btn-success" type="submit">
                Ja, log me uit
            </button>
        </div>
        <div class="btn-group">
            <a class="btn btn-outline-success" href="{% url "home" %}" role="button">Nee, toch maar niet</a>
        </div>
    </form>



{% endblock content %}