/* static/css/base.css */

h1{
    color: orange;
}

.logo {
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

body{
    font-size: small;
}

/*
Change the curcor in a hand when on a clickable row
 */
.clickable-row{
    cursor: pointer;
}