/*!* static/css/custom.css *!*/

h1, h2, h3{
    color: orange;
}

.logo {
    height: 45px;
    margin-top: 01px;
    margin-left: 20px;
    margin-right: 10px;
}


body {
    font-family: 'Poppins';
    font-weight: 300;
}

/*
Change the cursor in a hand when on a clickable row
 */
.clickable-row{
    cursor: pointer;
}

#npo-rm-block-content{
    font-family: Arial;
    font-size: 0.85rem;
}

#system_info{
    font-family: Arial;
    font-size: 0.8rem;
}

#datasettype-select{
    font-family: Arial;
    font-size: 0.8rem;
}