{% extends '_base.html' %}

{% block title %}NPO-RM - Interfaces{% endblock title %}
{% block content %}

<h1 class="mt-4" data-toggle="tooltip" data-placement="left"
    title="Dit scherm toont alle beschikbare interfaces en de actieve uploads met gegevens voor de
           organisatieonderdelen waar jij voor geautoriseerd bent. Afhankelijk van je rol zie je een link
           bij de interface waarmee je op een scherm komt om een bestand te uploaden of de API aan te roepen.">
    Interfaces
</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Interfaces</li>
  </ol>
</nav>

    <table class="table table-sm table-hover" id="interface_table">
    <thead class="thead-dark">
    <tr>
        <th hidden> </th>
        <th>Gegevens</th>
        <th>Systeem</th>
        <th>Laatste upload</th>
        <th>Ververst door</th>
        <th>Org. onderdeel</th>
        <th class="text-right"># rijen ok</th>
        <th class="text-right"># rijen waarschuwing</th>
        <th>Verversen</th>
    </tr>
    </thead>
    {% for interface in interface_list %}
        <tr>
        <td hidden>{{ interface.nr}}</td>
        <td>{{ interface.dataset_type}}</td>
        <td>{{ interface.system }}</td>
        <td>{{ interface.date_time}}</td>
        <td>{{ interface.user_email}}</td>
        <td>{{ interface.org_unit }}</td>
        <td class="text-right">{{  interface.rows_ok }}</td>
        <td class="text-right">{{  interface.rows_warning }}</td>
        {%  if interface.url_upload_page %}
            <td><a href="{{interface.url_upload_page}}">{{ interface.interface_type }}</a></td>
        {% else %}
            <td>{{ interface.interface_type }}</td>
        {%  endif %}
    </tr>
    {% endfor %}
</table>

{% endblock content %}}