{% extends '_base.html' %}

{% block title %}NPO-RM - Contracts{% endblock title %}
{% block content %}

<h1 class="mt-4">Data verversen details</h1>
<br>
<table  style="width: auto;"
        class="table table-sm table-hover table-striped table-bordered">
    <thead class="thead-dark ">
        <tr>
            <th>Interface</th>
            <th>Call</th>
        </tr>
    </thead>
    <tr>
        <td>Datum/tijd</td>
        <td>{{  interface_call.date_time_creation |date:'Y-m-d H:i' }}</td>
    </tr>
    <tr>
        <td>System:</td>
        <td>{{  interface_call.system }}</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>{{  interface_call.type }}</td>
    </tr>
    <tr>
        <td>Status:</td>
        <td>{{  interface_call.status }}</td>
    </tr>
    <tr>
        <td>Message:</td>
        <td>{{  interface_call.message }}</td>
    </tr>

</table>

<br>

 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#contracts">Contracten</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#received_data">Ontvangen data</a>
  </li>
</ul>

  <div class="tab-content border mb-3">
    <div id="contracts" class="container-fluid tab-pane active"><br>

        <table class="table table-sm table-hover table-striped table-bordered">
            <thead class="thead-dark ">
            <tr>
                <th>Seq.nr.</th>
                <th>Contract nr</th>
                <th>Status</th>
                <th>Contract naam</th>
                <th>Omschrijving</th>
                <th>Categorie</th>
                <th>Eigenaar</th>
                <th>Eigenaar email</th>
            </tr>
            </thead>
            {% for contract in contract_list %}
                <tr>
                    <td>{{  contract.seq_nr }}</td>
                    <td>{{  contract.contract_nr }}</td>
                    <td>{{  contract.contract_status }}</td>
                    <td>{{  contract.contract_name }}</td>
                    <td>{{  contract.description }}</td>
                    <td>{{  contract.category }}</td>
                    <td>{{  contract.contract_owner }}</td>
                    <td>{{  contract.contract_owner_email }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div id="received_data" class="container-fluid tab-pane fade"><br>

        <table class="table table-sm table-hover table-striped table-bordered">
            <thead class="thead-dark ">
            <tr>
                <th>Seq.nr.</th>
                <th>Status</th>
                <th>Melding</th>
                <th>Veld 1</th>
                <th>Veld 2</th>
                <th>Veld 3</th>
                <th>Veld 4</th>
                <th>Veld 5</th>
                <th>Veld 6</th>
                <th>Veld 7</th>
                <th>Veld 8</th>
                <th>Veld 9</th>
                <th>Veld 10</th>
            </tr>
            </thead>
            {% for received_row in received_data %}
                <tr>
                    <td>{{  received_row.seq_nr }}</td>
                    <td>{{  received_row.status }}</td>
                    <td>{{  received_row.message }}</td>
                    <td>{{  received_row.field_01 }}</td>
                    <td>{{  received_row.field_02 }}</td>
                    <td>{{  received_row.field_03 }}</td>
                    <td>{{  received_row.field_04 }}</td>
                    <td>{{  received_row.field_05 }}</td>
                    <td>{{  received_row.field_06 }}</td>
                    <td>{{  received_row.field_07 }}</td>
                    <td>{{  received_row.field_08 }}</td>
                    <td>{{  received_row.field_09 }}</td>
                    <td>{{  received_row.field_10 }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
  </div>

{% endblock content %}}