{% extends '_base.html' %}
{% load static %}
{% block title %}NPO-RM Changelog {% endblock title %}
{% block content %}
<div class='container-fluid pl-3'>
<br>
<h1>NPO Resource Manager Changelog</h1>
<h2>0.2.2 (2021-01-24)</h2>
<ul>
<li><a href="https://aesset.atlassian.net/browse/RM-120">RM-120</a> Automate release process: add MANIFEST.in and log git commands</li>
</ul>
<h2>0.2.1 (2021-01-24)</h2>
<ul>
<li><a href="https://aesset.atlassian.net/browse/RM-120">RM-120</a> Automate release process: commit the generated CHANGELOG.html</li>
</ul>
<h2>0.1.5 (2021-01-24)</h2>
<ul>
<li><a href="https://aesset.atlassian.net/browse/RM-120">RM-120</a> Automate release process: generate templates/CHANGELOG.html</li>
</ul>
<h2>0.1.4- (2021-01-24)</h2>
<ul>
<li><a href="https://aesset.atlassian.net/browse/RM-120">RM-120</a> Automate release process with Zest.Releaser</li>
</ul>
<h2>0.1.3 (2021-01-22)</h2>
<ul>
<li><a href="https://aesset.atlassian.net/browse/RM-80">RM-80</a> - Show Menu dependent on rol</li>
</ul>
<h2>0.0.1(2020-12-24)</h2>
<ul>
<li>First install</li>
</ul>
</div>
{% endblock content %}
