{% extends '_base.html' %}

{% block title %}NPO-RM - Contracts{% endblock title %}
{% block content %}
<br>
<a href="upload"
   class="btn btn-primary btn-lg active"
   role="button"
   aria-pressed="true">Upload file</a>
<br>
<br>
<table class="table table-sm table-hover table-striped table-bordered">
    <thead class="thead-dark ">
    <tr>
        <th>Contract nr</th>
        <th>Status</th>
        <th>Contract naam</th>
        <th>Omschrijving</th>
        <th>Categorie</th>
        <th>Eigenaar</th>
        <th>Eigenaar email</th>
    </tr>
    </thead>
    {% for contract in contract_list %}
    <tr>
        <td>{{  contract.contract_nr }}</td>
        <td>{{  contract.contract_status }}</td>
        <td>{{  contract.contract_name }}</td>
        <td>{{  contract.description }}</td>
        <td>{{  contract.category }}</td>
        <td>{{  contract.contract_owner }}</td>
        <td>{{  contract.contract_owner_email }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}}